@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap');
.about-me {
    margin-left:93px;
    margin-right: 93px;
    margin-top: 72px;
    font-family: "Mulish","Spectral", sans-serif,sans;
}

